@import './base.css';

:root {
  --theme-bg-color: #000;
  --theme-btn-bg-color: #ccc;
  --theme-def-text-color: #008000;
}

#app {
  background: var(--theme-bg-color);
  color: var(--theme-def-text-color);
  margin: 0 auto;
}

.wrapper {
  display: inline-flex;
}

.wrapper-flex{
  display: flex
}